<<<<<<< Updated upstream
*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
=======
a{
    color: unset;
}
a:hover{
    color: unset;
    text-decoration: unset;
}
a:visited{
    color: unset;
>>>>>>> Stashed changes
}
nav{
    
    position: relative;
    transition: 1s;
}

.my-nav{
    width: 100%;
    
    padding: 0;
}
.my-nav-btn{
    padding: 8px 16px;
    margin-right: 16px ;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;

}
.my-logo-container{
    height: 92px;
    padding: 16px;
}
nav img{
    height: 100%;
}
.nav-link{
    padding: 0;
}
.my-nav-container{
    max-width: 1280px;
    padding: 0 32px;
height: 100%;
}

#carouselIndicators.my-height{
    height: calc(100vh - 92px);
}
.carousel-inner.my-height{
    height: 100%;
}

.my-img-container{
    height: 100%;
    width: 100%;
}
.carousel-item.my-height{
    height: 100%;
}
#car-pic1{
    background-image: url(../img/bgc.jpg);
}
#car-pic2{
    background-image: url(../img/bgc2.jpg);
}
#car-pic3{
    background-image: url(../img/bgc3.jpg);
}
.section1 .container.my-padding{
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.my-container {
    width: 100%;
    max-width: 1536px;
}
.my-mt-4 {
    margin-top: 4rem;
}
.my-mb-5{
    margin-bottom: 5rem;
}
.my-mb-1-25 {
    margin-bottom: 1.25rem;
}
.my-mb-75 {
    margin-bottom: .75rem;
}
.my-mx-05{
    margin: 0 -.5rem ;
}
.my-p-05{
    padding: .5rem;
}
.my-px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.my-px-1-25 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.my-py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.my-py-05 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.section1 .my-textarea p.my-width{
    width: 50%;
}
.w-10 {
    width: 2.5rem;
}
.w-16 {
    width: 4rem;
}

.h-1 {
    height: .25rem;
}
.inline-flex {
    display: inline-flex;
}
.rounded-full {
    border-radius: 9999px;
}

.bg-indigo-500 {
   
    background-color: rgb(99,102,241);
}
.bg-indigo-500:hover {
    
    background-color: rgb(79,70,229);}

.text-indigo-500 {
    color: rgba(99,102,241);}
.Heading-pic{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
 
   
   background-color: rgb(224,231,255);
    
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}


.mt-16 {
    margin-top: 4rem;
}
.section3 .my-textarea p.my-width{
    width: 66%;
}
@media (max-width: 1536px){
   
.my-container {
    max-width: 1280px;
}
}


@media (max-width:1280px){
    .section1 .my-textarea p.my-width{
        width: 75%;
    }
    .my-container {
        max-width: 1024px;
    }
}
@media (max-width: 1024px){
    .my-container {
        max-width: 768px;
    }
}
@media (max-width:992px){
    .section1 .my-textarea p.my-width{
        width: 100%;
    }
}

@media (max-width:768px){
    .my-nav-container {
        
        padding: 0 16px;
    }
    .my-container {
        max-width: 640px;
    }
    .navbar-nav{
        position:relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 8px 16px;
        z-index: 50;
    }
    #navbarNavDropdown.my-padding{
        padding-top: 77px;
        
    }
    .my-logo-container{
        height: 77px;
       
    }
    .navbar-toggler.my-orderreset{
        order: 100;
        height: 77px;
        position: relative;
        top: 0%;
        border: none;
        
       
    }
    .my-nav-btn{
        width: 100%;
        padding: none;
        margin: 8px 0 0;
    }
    #carouselIndicators.my-height{
        height: 70vw;
    }
}
@media (max-width: 640px){
    .my-container {
        max-width: unset;
    }
}
@media (max-width: 575px){
    .my-logo-container{
        height: 62px;
       
    }
    #navbarNavDropdown.my-padding{
        padding-top: 62px;
    }
    .navbar-toggler.my-orderreset{
        
        height: 62px;
       
    }
}